<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>EJS <%= title %></title>
</head>
<body>
<%- include('./partials/navbar'); %>
<div class="container">
    <h1>Hello EJS</h1>
    <!--    <a href="/features">Go to features</a>-->
    <!--    <a href="/download" target="_blank">Download this page</a>-->
</div>
</body>
</html>